/* CS50 ai helped with line 14 */

body {
    font-family: "Arial";
}

.nav {
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    text-align: right;
}

.nav a {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.google {
    margin-top: 30px;
    max-width: fit-content;
    margin-inline: auto;
}

.buttons {
    margin-top: 40px;
}