body {
    font-family: "Arial";
}

.nav {
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    text-align: right;
}

.nav a {
    display: inline-block; /* CS50 ai helped with this line */
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none; 
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.google {
    margin-top: 30px;
    max-width: fit-content;
    margin-inline: auto;
}

.buttons {
    margin-top: 40px;
}

.searchbox {
    font-family: 'Arial';
    font-size: 18px;
    margin-left: 14px;
    border-color: transparent;
    background-color: rgb(246,	248, 249);
    width: 568px;
    outline: none;
}

.searchbar {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 24px;
    background-color: rgb(246,	248, 249);
    width: 638px;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: -25px;
}

.buttons {
    max-width: fit-content;
    margin-inline: auto;
}

.buttons .button {
    border-radius: 5px;
    outline: none;
    border: transparent;
    padding: 13px;
    font-size: 15px;
    background-color: rgb(246,	248, 249);
    color: rgb(46, 49, 52);
    margin-left: 10px;
}

.header {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(86,86,86);
    display: inline-block;
}