body {
    font-family: "Arial";
}

.nav {
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    text-align: right;
}

.nav a {
    display: inline-block; /* CS50 ai helped with this line */
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.google {
    margin-top: 30px;
    max-width: fit-content;
    margin-inline: auto;
}

.buttons {
    margin-top: 40px;
}

.searchbox {
    font-family: 'Arial';
    font-size: 16px;
    margin-left: 14px;
    border-color: transparent;
    background-color: rgb(242, 242, 242);
    width: 568px;
}

.searchbar {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 24px;
    background-color: rgb(242, 242, 242);
    border: 2px black;
    width: 638px;
}